*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f5f5;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.top{
    position: relative;
    width: 100%;
    height: 400px;
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
    padding: 50px;
} 

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    line-height: 0.7em;
    letter-spacing: 0.1em;
}

h2 span{
    font-size: 0.4em;
    font-weight: 400;
}

.group{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
    width: 100%;
}

.group .imgBx{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.group .imgBx img{
    width: 80%;
}

.group p{
    color:#fff;
    margin-top: 20px;
    font-size: 1.05em;
}


.bottom{
    position: relative;
    display: grid;
    margin: 50px 50px 0;
    gap: 40px;
    grid-template-columns: 2fr 3fr;
}

.bottom .left_side{
    margin-top: 50px;
}

h4{
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #fff;
    background: #1e2130;
    font-weight: 600;
    padding: 0 15px;
    margin-top: 40px;
    display: inline-flex;
}

.contactInfo{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contactInfo li{
    list-style: none;
    display: flex;
    gap: 10px;
}

.contactInfo li .icon{
    color: #4a626e;
}

.contactInfo li .text{
    color: #555;
}

.contactInfo li .text a{
    color: #555;
}

.skills{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.skills .skillBox{
    margin-top: 20px;
}


.skills li{
    margin-left: 30px;
    color: #555;
}




